@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", serif;
    font-style: normal;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.logo{
    font-weight: 800;
    font-size:45px;

}
ul{
   display: flex; 
    justify-content: space-between;
}
.spany{
    color: #FD6E0A;
}

.navbar{
  display: flex;
    justify-content: space-between;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
  
}
ul li a {
    text-decoration: none;
    margin: 51px;

}
.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 20px;
    border-radius: 5px;
    border: none;
    /* Hire Me */

}

/*//////////////////////////////////////// Colors */
.dark1{
 color:#181818;
}

.dark2{
    color:#474747;
   }
.secondary-bg{
    background-color: #FFF8F3;
}

   /* ///////////////////////////////////Banner */
   .banner-greet{
    font-size: 45px;
    font-weight: 600;
   }
   .banner-title{
    font-size: 85px;
font-weight: 700;
   }
   .banner { display: flex; justify-content: space-between; margin: 0 35px 0 35px; /* Adjusted the left margin */ }
.banner-content{
    max-width: 580px;
}

.header{
    background-image: url("./images/developer.png"), url("./images/header_bg.png");
background-repeat:no-repeat ;
background-position: top left, bottom;
}
.banner-img { margin-top: 150px;}



/* //////////////////////////////About */
 .section-title{
    font-size: 45px;
    font-weight: 600;
    color:#181818;
}
.section-description{
    font-size: 18px;
    color:#474747;
 
}
.about {
   border-radius: 10px;
} 
 main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
 }


 .about-items{
    display: flex;
    justify-content: space-between;
   
 }
 .item-description{
font-weight: 600;

 }
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

 /* ///////////////////Skills */

 .section-description{
    font-size: 18px;
    color:#474747;
    text-align: center;
 }

 .skill-container{
 display: flex;
 gap:24px;
 }
 .skill{
    padding:30px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
 }

 /* ///////////////////Resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-sub-title{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience-description, .experience-sub-title{
   color:#757575;
}
 
.resume hr{
    margin:30px 5px;
}
.download-cv{
    margin-top: 100px;
}

